<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
  <label for="query">Введите запрос: </label>
  <input type="text" id="query" name="query"/>
  <br>
  <input type="submit" value="Поиск">
</form>

<div th:if="${foundBooks}">
  <div th:if="${foundBooks.isEmpty()}">
    Книги не найдены
  </div>
  <div th:each="foundBook : ${foundBooks}">
    <p th:text="${foundBook.getTitle() + ', ' + foundBook.getAuthor() + ', ' + foundBook.getReleaseYear()}">book</p>
    <div th:if="${foundBook.getOwner() != null}">
      <span>Книга сейчас у: </span> <span th:text="${foundBook.getOwner().getFullName()}">Person Name</span>
      <div th:if="${foundBook.getOwner() == null}">
        <span>Книга свободна</span>
      </div>
    </div>

  </div>

</div>

</body>
</html>